<app-intro></app-intro>
<!-- English Section -->
<app-section-lang [sectionID]="sectionID_En" [sectionStyle]="sectionStyle_En" [logo]="logo_En" [bgBanner]="bgBanner_En"
    [bannerTitle]="bannerTitle_En" [aboutSectionBg]="bgAbout_En" [aboutSectionTitle]="aboutSectionTitle_En"
    [aboutSectionP]="aboutSectionP_En" [aboutSectionBtn]="aboutBtn_En" [link]="link_En"></app-section-lang>
<!-- Urdu Section -->
<app-section-lang [sectionID]="sectionID_Urdu" [sectionStyle]="sectionStyle_Urdu" [logo]="logo_Urdu"
    [bgBanner]="bgBanner_Urdu" [bannerTitle]="bannerTitle_Urdu" [aboutSectionBg]="bgAbout_Urdu"
    [aboutSectionTitle]="aboutSectionTitle_Urdu" [aboutSectionP]="aboutSectionP_Urdu" [aboutSectionBtn]="aboutBtn_Urdu"
    [link]="link_Urdu">
</app-section-lang>
<!-- Bangla Section -->
<app-section-lang [sectionID]="sectionID_Bangla" [sectionStyle]="sectionStyle_Bangla" [logo]="logo_Bangla"
    [bgBanner]="bgBanner_Bangla" [bannerTitle]="bannerTitle_Bangla" [aboutSectionBg]="bgAbout_Bangla"
    [aboutSectionTitle]="aboutSectionTitle_Bangla" [aboutSectionP]="aboutSectionP_Bangla"
    [aboutSectionBtn]="aboutBtn_Bangla" [link]="link_Bangla"></app-section-lang>
<!-- Chinese Section -->
<app-section-lang [sectionID]="sectionID_Chinese" [sectionStyle]="sectionStyle_Chinese" [logo]="logo_Chinese"
    [bgBanner]="bgBanner_Chinese" [bannerTitle]="bannerTitle_Chinese" [aboutSectionBg]="bgAbout_Chinese"
    [aboutSectionTitle]="aboutSectionTitle_Chinese" [aboutSectionP]="aboutSectionP_Chinese"
    [aboutSectionBtn]="aboutBtn_Chinese" [link]="link_Chinese"></app-section-lang>

<app-faq></app-faq>