<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand p-0" routerLink='/'>
            <img
                src="assets/images/header/main-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mt-0 mb-lg-0">
                <li class="nav-item">
                    <button mat-button class="url" routerLink='/english'>English</button>
                </li>
                <li class="nav-item">
                    <button mat-button class="url" routerLink='/urdu'>Urdu</button>
                </li>
                <li class="nav-item">
                    <button mat-button class="url" routerLink='/bangla'>Bangla</button>
                </li>
                <li class="nav-item">
                    <button mat-button class="url" routerLink='/chinese'>Chinese</button>
                </li>
                <li class="nav-item">
                    <button mat-button class="url" routerLink='/asd'>About Peace Tv</button>
                </li>
            </ul>
            <div class="btns d-flex">
                <button mat-button class="btn-watch">
                    <mat-icon>play_circle_filled</mat-icon>
                    <span>Watch for Free</span>
                </button>
                <button mat-raised-button color="primary" class="btn-signin">Sign In</button>
            </div>
        </div>
    </div>
</nav>