<div class="intro">
    <div class="row">
        <div class="col-lg-7">
            <div class="intro-content">
                <div class="logo">
                    <img src="assets/images/intro/intro-logo.png" alt="logo">
                </div>
                <div class="title">
                    <h1>The Solution for Humanity</h1>
                    <p>The World’s First High-Definition (HD)<br>Religious Satellite TV Channel Network</p>
                </div>
                <div class="channels">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-5 d-flex justify-content-center">
                            <div class="one-channel">
                                <img (click)="onScroll('english')" src="assets/images/intro/en-logo.png" alt="Peace TV">
                            </div>
                        </div>
                        <div class="col-lg-3 col-5 d-flex justify-content-center">
                            <div class="one-channel">
                                <img (click)="onScroll('urdu')" src="assets/images/intro/ur-logo.png" alt="Peace TV">
                            </div>
                        </div>
                        <div class="col-lg-3 col-5 d-flex justify-content-center">
                            <div class="one-channel">
                                <img (click)="onScroll('bangla')" src="assets/images/intro/ban-logo.png" alt="Peace TV">
                            </div>
                        </div>
                        <div class="col-lg-3 col-5 d-flex justify-content-center">
                            <div class="one-channel">
                                <img (click)="onScroll('chinese')" src="assets/images/intro/chin-logo.png" alt="Peace TV">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll" (click)="onScroll('english')">
                    <div class="scroll-down">
                    </div>
                    <span>SCROLL DOWN</span>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="image">
                <img src="assets/images/intro/Dr.zaker2.png" alt="Dr.zaker">
            </div>
        </div>
    </div>
</div>